<div class="form-group">
  <%= form_tag answers_path(user_id: @user.id) do |f| %>

    <% @answers.each do |answer| %>

    <div class="form-group row">
      <%= label_tag answer.id, answer.question.content%>
      <div class="col-sm-12">
        <%= text_area_tag "answers[#{answer.question_id}]",nil, class: "form-control"%>
      </div>
    </div>
    <% end %>
    
    <%= submit_tag %>

  <% end %>
</div>
