<section>
  <div class="container">
    <h1>Share your Story:</h1>
    <br>
    <p>
      Welcome to <b><%= @user.company.name %></b>! We are so to have you on the
      team <b><%= @user.first_name %></b>, please fill in the questions below
      so we can all get to know you better!
    </p>

    <%= render "form" %>

  </div>
</section>
