<section>
  <div class="container">
      <h1>New Company</h1>
      <p>
        Welcome to Squadra, we help you onboard new starters easily to your
        business by building relationships and friendships that last.
      </p>

      <br>

      <h3>Your Company Details:</h3>
      <%= render "form" %>
  </div>
</section>
