<section>
  <div class="container">
    <h1><%= @company.name %></h1>
    <hr>

    <br>
    <p>
      <b>Bio:</b> <%= @company.bio %>
    </p>

    <h3>Users:</h3>
    <%= button_to "Add a User", "#{new_user_path}?company_id=#{@company.id}", method: :get, class: "btn btn-success" %><br>
    <%= render partial: "users/users", locals: {users: @company.users} %>

  </div>
</section>
