<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About Squadra.</h1>
      <p>
        Your best asset is your people and with
        <a href="https://www.smartsheet.com/employee-onboarding-processes-plans-best-practices-flowcharts">
          90% of new starters making a decision whether to stay at your business
          within the first 6 months
        </a>

        the onboarding process is critical to get every employee settled in, building
        relationships and becoming productive as soon as possible.
        <br><br>

        Squadra is a free tool to help you automate onboarding while avoiding..
        the boredom of repeating the same old office tour or overused, awkward icebreakers.

      </p>
    </div>
  </div>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

<div class="row">
    <div class="col-lg-4">
      <img width="140" height="140" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="">
      <h2>Open source</h2>
      <p>
        This web app was built with 🖤 by
        <a href="https://github.com/cacamacho91"> Chris Camacho </a> and
        <a href="https://github.com/julesow"> Souleymane Sow </a> for a 5 day project
        during a web development bootcamp at <a href="https://flatironschool.com/campuses/london/">Flatiron London</a>.
        Why not
        <a href="https://github.com/cacamacho91/squadra">
          check out the code on github.
        </a>
      </p>
      <p><a class="btn btn-secondary" href="https://github.com/cacamacho91/squadra" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img width="140" height="140" src="https://newpathways.org/wp-content/uploads/2015/02/48428235_l.jpg" alt="">
      <h2>How to demo</h2>
      <p>
        The email
          <b>test@demo.com</b> and password
          <b>password1</b> can be used to access the <b>Flatiron</b> company which
          has demo data set up.

          From the main screen new users can be created and interactive quizzes
          can be generated.

          For full details check out the README on github.
      </p>
    </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img width="140" height="140" src="https://www.livechatinc.com/wp-content/themes/livechat2.0/media/img/features/icos/fl-ico-customization@2x.png" alt="">
        <h2>Fully customised</h2>
        <p>
         Every new starter will be sent your unique onboarding questions
         (text or multiple choice supported) to answer before joining, while existing
         employees can test their knowledge of their colleagues with fun quizzes!
        </p>
      </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Integrated to Slack. <span class="text-muted">For your convenience.</span></h2>
        <p class="lead">Every new employee is automatically introduced to your team on Slack with the answers to your onboarding
          questions, ensuring every employee gets to know a little bit more about their latest colleague.
         </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "slack_ipad.png", alt: "rss feed", width: "100%", height: "100%", style: "  border-radius: 25px;"  %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Looks great. <span class="text-muted">On any device.</span></h2>
        <p class="lead">
          Bootstrap 4 and a modern, card-based, layout ensures that Squadra looks great no matter
          what device it's accessed on.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "mobile.png", alt: "rss feed", width: "100%", height: "100%", style: "  border-radius: 25px;"  %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Powered by Rails 5<span class="text-muted"> Designed with Bootstrap 4.</span></h2>
        <p class="lead">
          SQLite 3 database in deployment and Postgres in production, hosted with
          Heroku. Active Record used as ORM, no Javascript used as outlined
          in the project specification. For full dependencies
          <a href="https://github.com/cacamacho91/squadra">
            check out the code on github.
          </a>
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "stack.png", alt: "rss feed", width: "100%", height: "100%", style: "  border-radius: 25px;"  %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>2019 Chris Camacho & Souley Sow</p>
  </footer>
</main>
