<!-- Refactor styling into css file when able -->
<style>
  body {
  	background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    background-image: url('http://placehold.it/1920x1080');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
  }
  @media (max-width: 768px) {
    body { height:100vh; }
  }

</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="mt-5">The Big Picture</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
      </div>
    </div>
  </div>
</section>


<div id="Container">
    <video></video>
    <div></div>
</div>


<!-- Refactor styling into css file when able -->
<style>
  body {
        /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    /* Add some content at the bottom of the video/page */
    .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
</style>

<video autoplay muted loop id="myVideo">
  <source src="/videos/people.mp4" type="video/mp4">
</video>

<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum...</p>
</div>
