<div class="container">

<h1>Quiz Time</h1>
<p>
  Think you know your team? Take the Squadra quiz and find out how much you
  really know!
</p>

<br>

<h5>How does it work?</h5>
<p>
  Based on the answers to your companies unique questions, we have built a fully
  customised quiz for you which is randomised every time.

  (There is a maximum of 8 questions)
</p>

<% if current_user.company.ready_for_quiz? %>
  <%= link_to "Quiz Me Up", new_quiz_path, class:"btn- btn-success" %>
<% else %>
  <br><br>
  <h3>Quiz Not Ready!</h3>
  <p>
    Looks like you haven't got enough colleagues who have onboarded, at least 3
    people need to fill in their information.
    <br>
    Go get them to sign in!
  </p>
<% end %>

</div>
