<h1>Quiz Time</h1>

<p>
  Think you know your team? Take the Squadra quiz and find out how much you
  really know!
</p>

<br>

<h5>How does it work?</h5>
<p>
  Based on the answers to your companies unique questions, we have built a fully
  customised quiz for you which is randomised every time.

  (There is a maximum of 8 questions)
</p>

<%= link_to "Quiz Me Up", new_quiz_path, class:"btn-lg btn-success" %>
