<!-- Refactor styling into css file when able -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="mt-5 hero_heading">Welcome to Squadra</h1>
        <p class="hero_text">
            We all know how difficult it can be to join a new team. At Squadra
            we help you say goodbye to awkward introductions and forced icebreakers. <br><br>
            Introducing Squadra: <br><br>
            😄 Add fun to your onboarding process <br>
            🎮 Dynamic quizzes based on your people! <br>
            🎨 Tailor to your unique company culture <br>
            💬 Integrated to Slack for ease of use <br>
            _____________
        </p>

        <%= link_to "About", about_path , class: "btn btn-success" %>
      </div>
    </div>
  </div>
</section>
